.issue-issueType-ul {
  padding-left: 16px;
  margin-bottom: 0;
}

.issue-issueTypeList-icon {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.issue-issueType-tip {
  font-size: 14px;
  margin: 10px 0;
}

.issue-issueType-bold {
  font-weight: 500;
}
