.cloopm-issueTypeScheme-ul {
  padding-left: 16px;
  margin-bottom: 0;
}

.cloopm-issueTypeScheme-type {
  margin: 3px 0;
}

.cloopm-issueTypeScheme-icon {
  vertical-align: text-bottom;
  margin-right: 10px;
}

.cloopm-issueType-tip {
  font-size: 14px;
  margin: 10px 0;
}

.cloopm-issueTypeScheme-list-tip {
  margin-bottom: 20px;
  font-size: 14px;
  width: 520px;
}

.cloopm-issueType-bold {
  font-weight: 500;
}
