.issue-stateMachineScheme {
  &-table {
    &-col {
      vertical-align: top;
    }
    &-title {
      position: relative;
    }
    &-issueType {
      width: 169px;
      display: inline-block;
      vertical-align: top;
      & .icon {
        vertical-align: text-bottom;
        font-size: 16px;
        margin-right: 6px;
      }
      &-content {
        width: 105px;
        display: inline-block;
      }
    }
    &-stateMachine {
      width: 300px;
      position: absolute;
      right: 0;
      &-content {
        width: 298px;
        display: inline-block;
      }
    }
    &-related {
      margin-bottom: 3px;
    }
  }
}
